*{
	margin: 0;
	padding: 0;
}
body{
	background: #eeeeee;
}
.hard{
	width: 10rem;
	margin: 0 auto;
	
	background: #FFFFFF;	
}
.hard_connet{
	overflow: hidden;
}
.left{
	float: left;
}
.local{
	/*border: none;
	outline: none;
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
	-ms-appearance: none;*/
}
.local_a{
	border: none;
	outline: none;
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
	-ms-appearance: none;
	color: #4D5E70;
	margin-right: 0.12rem;
	margin-top: 0.43rem;
	}
.right{
	float: right;
	line-height: 0.8rem;
	margin-right: 0.32rem;
	color: #4D5E70;
}
.right span{
	color: #4d5e70;
	font-size: 0.32rem;
}	
.right img{
	width: 0.266666666666666rem;
	height: 0.266666666666666rem;
	margin-top: 0.5rem;
	/*padding-top: 0.266666666666rem;*/
	float: right;
}
.connet{
	margin-top: 0.266666666666667rem;
	text-align: justify;
	border-bottom: 1px solid #eaeaea;
	padding-bottom: 0.21333333333333335rem;
	margin-left: 0.32rem;
	margin-right: 0.32rem;
	color: #ff4e00;
}
.left img{
	width: 0.22666666666666668rem;
	height: 0.2666666666666rem;
	/*margin-top: 0.32rem;*/
	padding-top: 0.5rem;
	margin-left: 0.26666666666rem;
}
.left span{
	color: #4d5e70;
	font-size: 0.32rem;
}
.local{
	border: none;
	color: #4D5E70;
	font-size: 0.32rem;
	width: 7rem;
	background: #fff;
}

.data{
	width: 10rem;
	height: 0.96rem;
	line-height: 0.96rem;
	color: #FF4E00;
}
.data_p{
	margin-left: 0.32rem;
	
}
.insured{
	margin-top: 0.26666666666666rem;
	background: #FFFFFF;
}
.insured_button{
	width: 9.9rem;
	margin: 0 auto;
	border-bottom: 1px solid #EEEEEE;
}
.insured_img{
	width: 0.22666666666666668rem;
	height: 0.2666666666666rem;
	margin-top: 0.32rem;
	margin-left: 0.26666666666rem;
}
.insured_span{
	font-size: 0.32rem;
	color: #4D5E70;
	height: 0.9466666666666667rem;
	line-height: 0.9466666666666667rem;
}

.btn{
	width: 10rem;
	/*height: 0.9466666666666667rem;*/
	background: #FFFFFF;
	line-height: 0.9466666666666667rem;
	/*overflow: hidden;*/

}
.btn_button{
	overflow: hidden;
	border-bottom: 1px dashed #EEEEEE;
	margin-left: 0.32rem;
}
.none{
	border: none;
}
.btn_button_left{
	float: left;
}
.name{
	/*margin-left: 0.32rem;*/
	font-size: 0.32rem;
	color: #4D5E70;
}
.btn_name{
	width: 7rem;
	border: none;
	color: #53575a;
	font-size: 0.32rem;
}

.btn_button_right{
	float: right;
	margin-right: 0.32rem;
	color: #4D5E70;
}
.btn_button_right img{
	width: 0.266666666666666rem;
	height: 0.266666666666666rem;
}
.button{
	width: 10rem;
	height: 0.9466666666666667rem;
	background: #C7D0D5;
	color: #FFFFFF;
	position: absolute;
	bottom: 0;
	border: none;
	left: 0;
	font-size: 0.4rem;
	border-radius: 0;
	-webkit-appearance: none;

}


